body {
  color-scheme: light dark;
}

.btn {
  @apply px-4 py-1 rounded inline-block
  bg-cyan-500 text-white cursor-pointer
  hover:bg-cyan-600
  disabled:cursor-not-allowed disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-flex items-center justify-center cursor-pointer select-none rounded-full size-6
  transition duration-200 ease-in-out;

  @apply primary-text body-bg;

  @apply hover:text-dark-700 hover:bg-gray-200;
  @apply @dark:hover:text-white @dark:hover:bg-gray-600;
}
